@font-face { 
  font-family: "Figtree";
  src: 
    url(https://anthonyfontano.pages.dev/Figtree-VariableFont_wght.ttf) format("truetype");
}


body{
    font-family:"Figtree", Arial, Helvetica, sans-serif;
}
#credits{
    display:none;
    text-align:center;
    align-items:center;
}
#before p{

    color:white;
 font-size:4rem;
}
#before{
position:fixed;
width:100vw;
height:100vh;
text-align:center;
align-items:center;
z-index: 1;
justify-content:center;
overflow:hidden;
display:flex;
background-color: rgba(0,0,0,0.5);
}

 .after #before {
                display: none;
            }
            .after #credits {
                mix-blend-mode: difference;
                display:flex;
            }

#video{
 position: fixed; 
 top: 0; 
 left: 0;
                object-fit: contain;
                width:100vw;
                height:100vh;
}

html, body {
margin: 0;
height: 100%;
}

#background{
object-fit: cover;
filter: blur(5px) brightness(0.5);
 transform: scale(1.05);
  position: absolute;
  width:100vw;
    height:100vh;
}

#gay{
    object-fit: contain; 
    position: absolute;
    width: 100%; 
    height: 100%;
}