@font-face { 
  font-family: "Figtree";
  src: 
    url(https://anthonyfontano.pages.dev/Figtree-VariableFont_wght.ttf) format("truetype");
}


body{
    font-family:"Figtree", Arial, Helvetica, sans-serif;
}


#before{
text-align:center;
align-items:center;
justify-content:center;
background-color: rgba(0,0,0,0.5);
}

 .after #ap {
                display: none;
            }
            .after-modal #credits {
                mix-blend-mode: difference;
            }

#video{
position:fixed;
    width:100vh;
    height:100vh;
  display: none;
}